
@import url('https://fonts.googleapis.com/css?family=Lato:300|Oswald:200,300,400');

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

[role="button"] {
  cursor: pointer;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1024px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
/*.row .span6 {
    width: 50%;
    *width: 50%
}*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}

img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
#map_canvas img, .google-maps img {
    max-width: none;
}
button, input, select, textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}
button, input {
    *overflow: visible;
    line-height: normal;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button;
}
label, select, button, input[type=button], input[type=reset], input[type=submit], input[type=radio], input[type=checkbox] {
    cursor: pointer;
}
input[type=search] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}
input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
hr {
  border-color: transparent;
}

img {
    max-width: 100%!important;
}
body {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #25373b;
    background-color: #fff;
}
a {
    color: #08c;
    text-decoration: none;
}
a:hover, a:focus {
    color: #005580;
    text-decoration: underline;
}

.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.hide {
    display: none;
}
.unfloat {
  float: none!important;
  margin: 0 auto!important;
}
.show {
    display: block;
}
.invisible {
    visibility: hidden;
}
@-ms-viewport {
    width: device-width;
}


.btn {
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
    background-image: -o-linear-gradient(top, #fff, #e6e6e6);
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',  endColorstr='#ffe6e6e6',  GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    color: #333;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
}
.btn:active, .btn.active {
    background-color: #ccc \9;
}
.btn:first-child {
    *margin-left: 0;
}
.btn:hover, .btn:focus {
    color: #333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}
.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
}
.btn.disabled, .btn[disabled] {
    cursor: default;
    background-image: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn-large {
    padding: 11px 19px;
    font-size: 17.5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.btn-large [class^=icon-], .btn-large [class*=" icon-"] {
    margin-top: 4px;
}
.btn-small {
    padding: 2px 10px;
    font-size: 11.9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.btn-small [class^=icon-], .btn-small [class*=" icon-"] {
    margin-top: 0;
}
.btn-mini [class^=icon-], .btn-mini [class*=" icon-"] {
    margin-top: -1px;
}


input[type=submit].btn-block, input[type=reset].btn-block, input[type=button].btn-block {
    width: 100%}

button.btn, input[type=submit].btn {
    *padding-top: 3px;
    *padding-bottom: 3px;
}
button.btn::-moz-focus-inner, input[type=submit].btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}
button.btn.btn-large, input[type=submit].btn.btn-large {
    *padding-top: 7px;
    *padding-bottom: 7px;
}
button.btn.btn-small, input[type=submit].btn.btn-small {
    *padding-top: 3px;
    *padding-bottom: 3px;
}
button.btn.btn-mini, input[type=submit].btn.btn-mini {
    *padding-top: 1px;
    *padding-bottom: 1px;
}


@media (max-width: 767px) {

header ul {
    text-align: center!important;
}
}


@-webkit-keyframes fadeInDown {
    0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
}
100% {
    opacity: 1;
    -webkit-transform: translateY(0);
}
}@-moz-keyframes fadeInDown {
    0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
}
100% {
    opacity: 1;
    -moz-transform: translateY(0);
}
}@-o-keyframes fadeInDown {
    0% {
    opacity: 0;
    -o-transform: translateY(-20px);
}
100% {
    opacity: 1;
    -o-transform: translateY(0);
}
}@keyframes fadeInDown {
    0% {
    opacity: 0;
    transform: translateY(-20px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}.animated.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

html, body {
    background-color: #fff;
    font-family: "Lato", sans-serif;
    padding: 0;
}

strong {
    font-weight: 600;
}
header {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
    background: #283c41 url('../img/home-header.png') no-repeat top left;
    background-size: cover;
    color: #fff;
    /*padding-top: 130px;*/
    padding-bottom: 0;
    position: relative;
    overflow: hidden;
        /*margin-top: 75px;*/
}
header img {
    margin-bottom: 20px;
}
header .screenshot {
    margin: 0;
    position: absolute;
    text-align: center;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
header .iphone {
    margin: 0;
    margin-bottom: -26px;
    margin-left: -100px;
}
header h1, .header-about h1 {
    font-size: 52px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 2px;
    line-height: 1;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    /*margin-top: -55px;*/
    position: relative;
}
.header-about h1 {
  margin-top: 30%;
  font-weight: 300;
  text-align: right;
}
.header-about h2 {
  text-align: right;
  color: #5ebadb;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 24px;
}
header p {
    font-size: 22px;
    line-height: 34px;
    margin: 70px 0;
    font-weight: 300;
    color: #5ebbde;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
}
header p.slogan {
  font-size: 30px;
  background: #fff;
  color: #1a2124;
  padding: 12px 0 15px;
  max-width: 600px;
  margin: 40px auto;
  /*border-radius: 4px;*/
}
.home-content {
  margin-top: 17%;
}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #fff;
    color: #333;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-transition: padding .1s linear;
    -moz-transition: padding .1s linear;
    -o-transition: padding .1s linear;
    transition: padding .1s linear;
}
.menu.small {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.menu .logo span {
    color: #fff;
    font-size: 23px;
    padding-left: ;
    position: absolute;
}
.menu.small .logo span {
    font-size: 19px;
    padding-left: 40px;
    padding-top: 1px;
    display: none;
}
.menu a.logo {
    float: left;
    margin-right: 20px;
}
.menu .col-sm-2 img {
    width: 100px;
}
.menu.small img {
    /*width: 130px;*/
    top: 5px;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}
/*.menu.small ul {
  margin-top: 10px;
}*/
.menu ul {
    text-align: center;
    list-style: none;
    margin: 0;
    margin-top: 15px;
    line-height: 21px;
    white-space: nowrap;
}
.menu ul li {
    display: inline;
}
.menu ul li:not(:last-child) {
    padding-right: 20px;
}
.menu ul li a {
    color: #6a6a68;
    text-decoration: none;
    font-size: .85em;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
}
@media (max-width:1199px) {
  .menu ul li a {
      font-size: .80em;
  }
  .menu ul li:not(:last-child) {
      padding-right: 10px;
  }
}
@media (max-width:991px) {
  .menu ul {
    text-align: right;
  }
}
.menu ul li a:hover {
    color: #5ebadb;
    text-decoration: none;
}
.menu ul li a.btn {
    background: #fff;
    color: #00AFE5;
    border-bottom: 0;
    margin-top: -2px;
    font-family: "Lato", sans-serif;
}
.menu ul li a.btn:hover, .menu ul li a.btn:active {
    background: #fff;
    color: #00AFE5;
}
.menu ul li a.btn.framed {
    background: #5ebadb;
    border: none;
    color: #fff;
    padding: 3px 12px;
}
.menu ul li a.btn.framed:hover, .menu ul li a.btn.framed:active {
    opacity: 1;
    background: rgba(0, 0, 0, .1);
}
  .menu ul li.pr-0:not(:last-child) {
  padding-right: 0;
}
@media screen and (min-width: 992px) and (max-width: 1000px) {

}
section {
    padding: 0;
    color: #333;
}
section h2 {
    font-weight: 300;
    margin-bottom: 20px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 50px;
    padding-bottom: 80px;
    border-bottom: 1px solid #ccc;
    width: auto;
    display: inline-block;
    margin-bottom: 120px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1em;
}
section .text-center h2 {
    font-weight: 400;
}

section h3 {
    font-weight: 300;
    font-size: 40px;
    color: #47575f;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    margin: 0 0 100px 0;
    line-height: 1em;
    text-align: center;
}
section h3::before{
  content: "-";
  margin-right: 10px
}
section h3::after {
  content: "-";
  margin-left: 10px;
}
section p {
    font-size: 17px;
    line-height: 29px;
    margin-bottom: 20px;
    color: #51585a;
    font-weight: 300;
}
.site-wrap {
  min-height: 100%;
    min-width: 100%;
    background: #fff;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
  /*  background-image: linear-gradient(135deg, rgb(254,255,255) 0%,rgb(221,241,249) 35%,rgb(160,216,239) 100%);*/
    background-size: 200%;
    overflow-x: hidden;
}
.about .section-alt {
  margin-top: 100px;
}
.section-alt {
    background: #efefef;
    color: #51585a;
    overflow: hidden;
}
.section-alt h2 {
    margin-bottom: 20px;
    color: #565d64;
    /*padding: 100px 0*/
}
.about .section-alt h3 {
  color: #4b824e;
  font-size: 40px;
  padding: 0;
  margin: 0;
  border-bottom: none
}
.tos .section {
  margin-bottom: 140px
}
.tos .section h2 {
  margin-top: 140px;
}
.tos .section h3 {
  margin: 60px 0 20px!important;
}
.section-alt h3 {
  margin-top: 70px
}
.section-alt p {
    font-size: 17px;
    line-height: 26px;
}

footer {
    text-align: center;
    background: #F9F6F6;
    padding: 0;
}
footer .row {
    position: relative;
}
footer {
    text-align: left;
}
footer ul {
    list-style: none;
    margin: 0 0 50px;
    padding-left: 0;
}
footer h4 {
    color: #51585a;
    font-weight: 300;
}
footer ul li {
  display: inline-block;
  padding: 0 10px;
}
footer ul li a {
    color: #090b0c;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .5px;
    display: block;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
}
footer ul li a:hover {
    color: #5ebadb;
    text-decoration: none;
}
footer ul.social {
}
footer ul.social li:not(:last-child) {
    padding-right: 10px;
    float: left;
}
footer ul.social li a {
    font-size: 26px;
}
footer .copyright {
    font-size: 11px;
    color: #bbc2c8;
    line-height: 1.5;
    margin-top: 20px;
    text-transform: uppercase;
}
footer .copyright a {
    color: #bbc2c8;
    line-height: 1.2;
}
.btn {
    filter: none;
    border: 0;
    background: #4b824e;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: #fff;
    box-shadow: none;
    text-shadow: none;
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
}
.btn:hover, .btn:focus {
    opacity: .8;
    background: #00AFE5;
    color: #fff;
}
.btn-large {
    padding: 25px 60px;
    color: #fff;
    background: #4b824e;
    font-size: 1.4em;
    position: relative;
}
.btn-large.btn-blue {
    color: #fff;
    background: #5ebadb;
    min-width: 50%;
    margin: 70px 0;
    letter-spacing: 1px;
}
.btn-large.btn-blue:hover {
    background: #4b824e;
}
.header-about .btn-large {
  margin-top: 30%;
}


p.small {
    font-size: 14px;
}
a, a:hover {
    color: #00AFE5;
}
a>img {
    border: 0;
}

#get-started {
    display: none;
}

.hidden {
    display: none;
}

.three {
  margin-bottom: 100px;
}
.three.mb-0 {margin-bottom: 0;}
.three h2 {
    font-size: 30px;
    margin: 0;
    padding: 30px 0 50px;
    text-align: center;
    width: 100%;
    border-bottom: none;
    color: #4b824e;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    line-height: 1.25em;
}
.three p {
    letter-spacing: .5px;
    margin: 0;
    text-align: center;
}
.three i {
    font-size: 34px;
    color: #51585a;
}
.three img, .three img[style] {
    margin: 0 auto;
    display: block!important;
}

pre {
    border-radius: 0;
    border: 0;
}

@media (max-width:900px) {
    section, .home-content{
    padding-right: 20px;
    padding-left: 20px;
}
header ul {
    text-align: center;
}

}
@media (max-width:800px) {
    footer .col-md-4, .three .col-md-4 {
    margin-bottom: 100px;
}
}@media (max-width:536px) {
    .demos>li {
    margin-right: 0;
}
}@media (max-width:500px) {
    div.try-service input[type=text], div.try-service input[type=password] {
    width: 160px;
}

header {
    /*padding-top: 90px;*/
    position: relative;
    margin-bottom: 30px;
}
header h1 {
    font-size: 32px;
    line-height: 1.3;
}
header p {
    font-size: 16px;
}
header .logo {
    display: inline;
}
.menu .logo {
    /*display: none;*/
    width: 100%;
    display: block;
    text-align: center;
}
.menu ul {
    text-align: center;
    padding-left: 20px;
}
.menu .menu-btn {
    display: none;
}
.btn-large {
    padding: 20px 30px;
    line-height: 1.3em;
}

header .screenshot {
    display: none;
}


footer ul.social {
    position: relative;
    margin-top: 33px;
}
pre.prettyprint {
    font-size: 12px;
    line-height: 19px;
}

}@media (max-width:410px) {
    header>.container {
    width: 196px;
}
header ul li a.btn {
    margin-top: 10px;
}
table {
  border-collapse: collapse;
}
table.protocols td {
  width: 100%!important;
  display: block;
  text-align: center;
  line-height: 1.6em!important;
}
.bb {
  padding: 20px 0!important;
}
.bb h2 {
  font-size: 30px!important;
}
.menu {
  padding-top:10px;
  padding-bottom: 10px;
}
.menu .col-md-2 img {
  width: 100px;
}
.section .container.margins {
    margin: 50px auto 0!important;
}
.btn-large {
    padding: 20px 0;
    width: 100%;
}
.three {
    margin-bottom: 20px;
}
.three .col-md-4 {
  margin-bottom: 60px;
}
.section-alt h3 {
  margin-top: 20px;
}
.three h2 {
  padding: 20px 0;
}
section h3::before,
section h3::after {
  display: none
}
p, h2, h3, h4 {
  text-align: center;
}
section h2 {
  padding-bottom: 30px;
  margin-bottom: 20px;
}
}@media all and (device-width:768px) and (device-height:1024px) and (orientation:portrait) {
    .scroll-space {
    display: none;
}
header {
    position: relative;
}
}@media all and (device-width:768px) and (device-height:1024px) and (orientation:landscape) {
    */ .scroll-space {
    display: none;
}
header {
    position: relative;
}
}

.pricing-body {
    color: #fff !important;
}
.absolute {
  position: absolute;
}
img.absolute {
  position: absolute;
}
@media (max-width:991px) {
  img.absolute {
      position: relative!important;
      margin-left: -10%;
  }
}
.btn-margin {
  margin: 50px 0!important;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.section-alt .container.margins{
  margin: 50px auto;
}
.section .container.margins{
  margin: 100px auto 70px;
}
.image-wrap {
  height: 110px;
  border-bottom: 1px solid #d0d0d0;
  overflow: hidden;
  width: 100%;
  display: block;
}
.divider {
  width: 100%;
  height: 1px;
  border-top: 1px solid #d0d0d0;
  /*margin: 100px 0;*/
}
table.protocols td {
  font-family: "Oswald", sans-serif;
  color: #5ebbde;
  text-transform: uppercase;
  font-size: 30px;
  width: 20%;
  white-space: nowrap;
  line-height: 4em
}
.bb {
  background-image: url('../img/footer-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 100px 0
}
.bb h2, .bb h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 200;
}
.bb h2 {
  font-size: 60px;
  letter-spacing: 2px;
  color: #fff;
  line-height: 1.3em;
}
.bb h3 {
  color: #f55e2e;
  font-size: 30px;
  letter-spacing: 1px;
}
footer img {
  margin: 50px 0
}
.round {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
.padding {
  padding: 0!important
}
.about .margins {
  margin: 100px 0 0;
  overflow: hidden;
}
.about .margins:nth-child(1) {
	margin: 0;
}
.navigation {
  display: none;
}
.header-about {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align: center;
  background: #283c41 url('../img/about.png') no-repeat top left;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;
  height: 400px;
  margin-top: 122px;
}
.text-right {
  text-align: right;
}
.about .section-box {
  margin: 0 0 140px 0;
}
section.box {
    padding-bottom: 80px;
}
/**** slider ****/

#testimonials{
	width:100%;
	position:relative;
	text-align: center
}
#testimonials .testimonial{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	z-index:1;
  background: #fff;
}
#test_container{
	position:relative;
	overflow:hidden;
	padding-bottom: 30px;
}
#testimonials .testimonial_text{
	font-size:14px;
	font-family:verdana;
	font-style:italic;
}
#testimonials .testimonial_name{
	font-size:14px;
	margin:10px auto 3px;
	font-style:normal;
	font-family:arial;
}
#testimonials .testimonial_designation{
	font-size: 12px;
	line-height: 14px;
	font-family:verdana;
}
#t_pagers{
	position:absolute;
	left:50%;
	bottom:0;
	z-index:2;
}
#t_pagers .pager{
	display:inline-block;
	text-decoration:none;
	width:10px;
	min-height:10px;
	margin-right:5px;
	background:#88979d;
	border-radius:50%;
	cursor:pointer;
}
#t_pagers .pager.active{
	background:#4b824e;
}

#testimonials img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 150px;
    margin-bottom: 30px;
    width: 150px;
    text-align: center;
}
#testimonials h2{
	color: #7b7b7b;
	font-size: 16px;
	letter-spacing: 1px
}
#testimonials .col-md-12 {
  float: none;
  margin: 0 auto;
}
#testimonials strong {
  color: #000
}
.comparison {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
  padding: 10px;
}

.comparison table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
}

.comparison td,
.comparison th {
  border-right: 1px solid #E8E8E8;
  empty-cells: show;
  padding: 10px;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  color: #808080;
}

.comparison tbody tr:nth-child(odd) {
  display: none;
}

.comparison .compare-row {
  background: #F7F7F7;
}

.fa-check {
  color: #69C7F1;
}
.fa-times {
  color: #a34d4d;
}
.comparison th {
  font-weight: normal;
  padding: 0;
  border-top: 0px solid #E8E8E8;
  border-bottom: 0px solid #E8E8E8;
  font-family: "Oswald", sans-serif;
}
.comparison tr td:first-child {
  text-align: left;
  padding: 15px;
  border-left: 1px solid #E8E8E8;
  border-top: 1px solid #E8E8E8;
}
.comparison .product,
.comparison .tl {
  color: #FFF;
  padding: 10px;
  font-size: 14px;
}
.comparison .tl2 {
  border-right: 0;
}
.comparison .product {
  background: #5ebbde;
  height: 40px;
  font-size: 1.6em;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 250px
}
.comparison .price-info {
  padding: 15px;
}
.comparison .price-now,
.comparison .price-now span {
  color: #808080;
}
.comparison .price-now span {
  /*font-size: 36px;*/
  color: #545454;
  text-transform: uppercase;
}
.comparison .price-now p {
  font-size: 14px;
  text-align: center;
  line-height: 16px;
  display: inline;
}
.comparison .price-buy {
  background: #4b824e;
  padding: 10px 20px;
  font-size: 14px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  text-transform: uppercase;
  margin: 5px 0 10px 0;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.comparison .price-buy:hover {
  background: #5ebadb;
}

@media screen and (min-width: 721px) and (max-width: 1000px) {
  .table_ul li {
    letter-spacing: 0px;
  }
  .comparison .price-now span {
    font-size: 32px;
  }
  .comparison .price-now p {
    display: block;
  }
}

@media screen and (max-width: 720px) {
  .table_ul {
    padding: 0px;
  }
  .table_ul li {
    font-size: 10px;
    line-height: 16px;
    padding: 3px 0;
  }
  .comparison {
    max-width: 100%;
  }
  .comparison td:first-child,
  .comparison th:first-child {
    display: none;
  }
  .comparison tbody tr:nth-child(odd) {
    display: table-row;
    background: #F7F7F7;
  }
  .comparison .row {
    background: #FFF;
  }
  .comparison td,
  .comparison th {
    border: 1px solid #CCC;
    border-top: none;
    padding: 10px;
  }
  .price-info {
    border-top: 0 !important;
    padding: 10px 0 !important;
  }
  .price-info p {
    line-height: 8px;
    font-size: 8px !important;
  }
  .comparison .compare-row {
    background: #ffffff;
  }
  .comparison .price-now p {
    display: block;
  }
  .comparison .price-now span {
    font-size: 24px;
  }
  .comparison .qbse {
    font-size: 1.2em;
  }
  .comparison td {
    font-size: 14px;
  }
  .comparison th {
    font-size: 14px;
  }
}
@media (max-width:979px) {
.menu, header {
  position: relative;
  margin-top: 0;
}
header h1 {
    font-size: 32px;
    line-height: 1.3;
}
.bb h2 {
    font-size: 40px;
    letter-spacing: 1.5px;
}
header img {display: none;}
/*header[style] {
  height: 500px!important;
  top: 0!important;
}
.header-about {
  margin-top: 0;
}
header h1 {
  margin-top: -250px;
}*/
.menu .col-sm-2 {
  float: none;
  margin: 0 auto;
  text-align: center;
}
.menu ul, .scroll-space{
  display: none;
}
h2.home {
  margin-top: 100px
}
/* Navigation Menu - Background */
.navigation {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  display: block;
  list-style: none;
  background: #1e2d32;
  padding-left: 0;
  margin-top: 0
}

.nav-item {
  width: 200px;
  border-bottom: 1px solid #111;
}

.nav-item a {
  display: block;
  padding: 1em;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  color: #697d84;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
  border-radius: 0;
  -webkit-border-radius: 0;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.nav-item a:hover {
  color: #fff;
  background: #5ebbde;
}



/* Nav Trigger */
.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  position: fixed;
  left: 15px; top: 15px;
  z-index: 2;
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("../img/menu.svg");
  background-size: contain;
}

.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}
.site-wrap {
  background: #fff;
}
.nav-trigger:checked + label {
  left: 215px;
}
.nav-trigger:checked ~ .site-wrap {
  left: 200px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}
.none, .divider {display: none}
.full {width: 100%!important;margin: 0;padding: 0;text-align: center;}
.section .container.margins {margin: 100px auto 40px;}
section h2 {margin-bottom: 40px;padding-bottom: 40px}
.section-alt h3 {margin: 40px 0}
.three h2 {padding: 30px 0 10px;}
/*.about .margins {text-align: center;}*/
.about .margins .row .col-md-4 {display: none;}
.about .margins {margin-top: 50px;}
.about .margins .row .col-md-8,
.about .margins .row h3,
.about .margins .row p {width: 100%;text-align: center;}
.header-about h1, .header-about h2 {text-align: center;}
/*.header-about .btn-large {margin-top: 0;}*/
.header-about h1 {margin-top: 100px;font-size: }
table.protocols {width: 100%;margin: 30px 0}
table.protocols td {
  width: 100%!important;
  display: block;
  text-align: center;
  line-height: 1.6em!important;
}
.mb {margin-bottom: 100px}
.btn-large.btn-blue {width: 96%;margin: 0 2%;}
.header-about {margin-top: 0;height: 360px;}
}

@media (min-width:980px) {
.about .section-alt h3::before {content: none;margin-right: 0;}
.nav-trigger {display: none;}
}
@media (max-width:767px) {
.header-about .btn-large {margin-top: 20px;}
.header-about h1 {margin-top: 50px}
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  header .screenshot {
    display: none;
  }
}
img.border-radius{
  border-radius: 5px;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0px 0px 35px 0px rgba(50, 50, 50, 0.10);
  -moz-box-shadow:    0px 0px 35px 0px rgba(50, 50, 50, 0.10);
  box-shadow:         0px 0px 35px 0px rgba(50, 50, 50, 0.10);
  margin: 20px 0!important;
}
